@import '~normalize.css';
:root {
  font: normal normal .875em/1.2 Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  // background: #E5E5E5;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.slider {
  max-width: 200px;
  background-color: red;
  border-radius: 10em;
  height: 10px;
  margin-left: 50px;
  position: relative;

  &__bar {
    position: absolute;
    width: 99%;
    height: 79%;
    background: wheat;
    top: 1px;
    left: 1px;
    border-radius: 10em;
  }

  &__handle {
    position: absolute;
    width: 8px;
    height: 79%;
    background: black;
    top: 1px;
    left: 1px;
    border-radius: 10em;
  }
}