@import '~normalize.css';
:root {
  font: normal normal .875em/1.2 Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.anchor {
  max-width: 500px;
  margin: 10px 0px 0px 10px;
}

.slider {
  max-width: 500px;
  height: 10px;
  background: #b0ecfa;
  margin: 0;
  position: relative;
  border-radius: 10em;
  cursor: pointer;
}

.slider__handle {
  width: 20px;
  height: 20px;
  background: #42aafe;
  position: absolute;
  border-radius: 10em;
  bottom: -6px;
  left: 0;
  cursor: pointer;
}

.slider__handle:hover {
  background: #77bdf7;
}

.slider__bar {
  background: #68d5ff;
  height: 10px;
  border-radius: 10em;
  position: absolute;
  cursor: pointer;
}

.slider__tooltip {
  position: relative;
  width: 20px;
  height: 20px;
  background: #42aafe;
  top: -24px;
  border-radius: 0.2em;
  color: white;
  white-space: nowrap;
}